[Unit]
Description=Inkstone image update timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
Unit=inkstone-update.service

[Install]
WantedBy=timers.target
