[Unit]
Description=Inkstone image update (podman compose)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/inkstone
RemainAfterExit=yes
ExecStart=/usr/bin/podman compose pull
ExecStart=/usr/bin/podman compose up -d --remove-orphans
